<ng-container [ngSwitch]="reference.kind">
  <dr-lazy-reference-property *ngSwitchCase="'lazy'" [name]="name" [enumerable]="enumerable" [reference]="reference"></dr-lazy-reference-property>
  <dr-object-reference-property *ngSwitchCase="'object'" [name]="name" [enumerable]="enumerable" [reference]="reference"></dr-object-reference-property>
  <dr-value-reference-property *ngSwitchCase="'value'" [name]="name" [enumerable]="enumerable" [reference]="reference"></dr-value-reference-property>
</ng-container>
