:host {
  overflow: auto;
}

.event-item:nth-child(even) {
  background-color: #efefef;
}

.event-item.selected {
  color: white;
  background-color: firebrick;
}

.event-content {
  display: flex;
  align-content: flex-end;
  text-align: right;
  flex-wrap: nowrap;
  width: 100%;
}

.event-details {
  flex: auto;
  margin-left: 5px;
}

.time, .has-data {
  font-size: 90%;
  margin-left: 5px;
}

.time {
  color: #ccc;
}

.has-data {
  color: orange;
}
