$arrow-short: 0.4em;
$arrow-long: 0.6em;
$indent: 1.2em;

:host {
  display: block;
  font-family: monospace;
  cursor: default;
}

:host.expandable {
  cursor: pointer;
}

.key {
  &.primary {
    color: var(--code-color-built_in);
  }

  &:not(.primary) {
    color: var(--code-color-meta);
  }

  &:not(:empty)::after {
    display: inline;
    content: ': ';
    color: var(--code-color-meta);
  }

  &::before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    margin-right: $indent;
  }

  :host.expandable:not(.expanded) > span >  &::before {
    border-top: $arrow-short solid transparent;
    border-bottom: $arrow-short solid transparent;
    border-left: $arrow-long solid var(--code-color-meta);
    margin-right: $arrow-long;
  }

  :host.expandable.expanded > span > &::before {
    border-left: $arrow-short solid transparent;
    border-right: $arrow-short solid transparent;
    border-top: $arrow-long solid var(--code-color-meta);
    margin-right: $arrow-short;
  }
}

.expand {
  margin-left: 1.2em;
}
