:host {
  display: block;
  height: 100%;
  overflow: auto;
}

.event {
  display: flex;
  height: 40px;
  border-bottom: 1px solid;
  align-items: center;
  padding: 4px 8px;
}

.event:hover {
  background-color: #ccc;
  cursor: pointer;
}
