<svg
  *ngIf="layout$ | async as layout"
  style="background-color: rebeccapurple; border-radius: 3px"
  [attr.width]="width"
  [attr.height]="height">

  <path
    *ngFor="let d of layout.links"
    fill="none"
    stroke="black"
    stroke-width="4"
    [attr.d]="getLinkPath(d)">
  </path>


  <circle
    *ngFor="let node of layout.nodes"
    r="16"
    stroke="black"
    stroke-width="4"
    [attr.fill]="node.data.stream.id === origin ? 'chocolate' : 'darkgrey'"
    [attr.transform]="getNodeTransform(node)"
    [appStreamTooltip]="node.data.stream"
    (click)="selectStream(node.data.stream)">
  </circle>

</svg>
