<ng-container
  *ngIf="width$ | async as width">
  <svg
    id="tree"
    #svg
    *ngIf="layout$ | async as layout"
    style="background-color: rebeccapurple; border-radius: 3px"
    [attr.width]="width"
    [attr.height]="getHeight(layout.height)">

    <path
      *ngFor="let link of layout.links"
      fill="none"
      stroke-width="4"
      stroke="black"
      [ngStyle]="{'opacity': isLinkActive(link) ? '1' : '0.25'}"
      [attr.data-source]="link.source.data.id"
      [attr.data-target]="link.target.data.id"
      [attr.d]="getLinkPath(link, width, getHeight(layout.height))">
    </path>


    <circle
      *ngFor="let node of layout.nodes"
      r="16"
      stroke="black"
      stroke-width="4"
      [ngStyle]="{'opacity': isNodeActive(node) ? '1' : '0.25'}"
      [attr.fill]="isNodeHighlighted(node.data.id) ? 'red' : node.data.id === stream.id ? 'chocolate' : 'darkgrey'"
      [attr.transform]="getNodeTransform(node, width, getHeight(layout.height))"
      [appOverlay]="overlay"
      [appOverlayData]="node.data"
      (click)="selectStream(node.data)">
    </circle>
  </svg>
</ng-container>

<ng-template #overlay let-data>
  <div class="overlay">
    <code class="location">{{data.location.file}} ({{data.location.line}}:{{data.location.char}}) #{{data.id}}</code>
    <code class="expression">{{data.expression}}</code>
  </div>
</ng-template>
