<svg
  *ngIf="layout$ | async as layout"
  [attr.viewBox]="'0 0 ' + getWidth(layout) + ' ' + getHeight(layout)"
>
<!--  <path-->
<!--    *ngFor="let link of layout.links"-->
<!--    fill="none"-->
<!--    stroke-width="4"-->
<!--    stroke="black"-->
<!--    [ngStyle]="{'opacity': isLinkActive(link) ? '1' : '0.25'}"-->
<!--    [attr.data-source]="link.source.data.id"-->
<!--    [attr.data-target]="link.target.data.id"-->
<!--    [attr.d]="getLinkPath(link, 800, getHeight(layout.height))">-->
<!--  </path>-->


  <circle
    *ngFor="let node of layout.nodes"
    r="16"
    fill="red"
    stroke="black"
    stroke-width="4"
    [attr.transform]="getNodeTransform(node)">
  </circle>
</svg>


<!--<ng-template #overlay let-data>-->
<!--  <div class="overlay">-->
<!--    <code class="location">{{data.location.file}} ({{data.location.line}}:{{data.location.char}}) #{{data.id}}</code>-->
<!--    <code class="expression">{{data.expression}}</code>-->
<!--  </div>-->
<!--</ng-template>-->
