:host {
  display: block;
}


.overlay {
  padding: 8px;
  background-color: white;
  border: 4px solid black;
  border-radius: 3px;
  color: black;
}

.overlay .location {
  display: block;
  white-space: pre;
  font-size: 10px;
  font-weight: bold;
  color: gray;
  margin-bottom: 8px;
}

.overlay .expression {
  display: block;
  white-space: pre;
}
