.value {
  color: var(--code-color-name);
  font-style: italic;

  &::before {
    display: inline;
    content: attr(data-prefix);
    color: var(--code-color-addition);
  }

  &::after {
    display: inline;
    content: attr(data-suffix);
    color: var(--code-color-addition);
  }
}
