<ng-container
  *ngIf="width$ | async as width">
  <svg
    *ngIf="events$ | async as events"
    style="background-color: rosybrown; border-radius: 3px"
    [attr.width]="width"
    [attr.height]="height">

    <line
      [attr.x1]="margin / 2"
      [attr.y1]="height / 2"
      [attr.x2]="width - margin / 2"
      [attr.y2]="height / 2"
      stroke="black"
      stroke-width="4">
    </line>

    <circle
      *ngFor="let event of events"
      r="12"
      stroke="black"
      stroke-width="4"
      fill="darkgrey"
      [attr.transform]="getEventTransform(event, width)">
    </circle>

  </svg>
</ng-container>
