:host {
  width: 100vw;
  height: calc(100vh - 4px);
  display: flex;
  flex-direction: column;
}

.instance-navbar {
  background-color: firebrick;
  padding: 15px;
}

.nav-title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  margin: 0 15px;
}

app-instance-selector {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%
}

.events-viewer {
  min-width: 250px;
}

.tree-viewer {
  flex-grow: 1;
}

.event-data-viewer {
  min-width: 250px;
}


