dRxJS Devtools Panel!
<pre>{{ counter | async | json }}</pre>

Events:
<ul>
  <li *ngFor="let event of events">
    <ng-container *ngIf="event && event.originalEvent !== undefined">
      <pre>{{ event.originalEvent.kind }}</pre>
      <pre *ngIf="event.originalEvent.value !== undefined">Value: {{ event.originalEvent.value }}</pre>
      <pre *ngIf="event.position !== undefined">Source: {{ event.position.file }}:{{ event.position.column }}:{{ event.position.line }}</pre>
    </ng-container>
  </li>
</ul>
