<app-instance-selector
  [instance]="selectedInstance$ | async"
></app-instance-selector>

<div
  class="content"
>
  <app-tree-viewer
    [instance]="selectedInstance$ | async"
    [event]="selectedEvent$ | async"
    (instanceChange)="selectInstance($event.id)"
  ></app-tree-viewer>

  <app-events-viewer
    [events]="selectedInstanceEvents$ | async"
    [selectedEventIndex]="selectedEventIndexSubject | async"
    (selectedEventIndexChange)="selectedEventIndexSubject.next($event)"
  ></app-events-viewer>
</div>


