:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.toolbr-text {
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  margin: 0 15px;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-menu {
  padding: 8px;
}

app-instance-selector {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}

.hbox {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
}

.vbox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

.events-viewer {
  align-self: center;
  max-width: 100%;
}

.tree-viewer {
  flex-grow: 1;
}

.event-data-viewer {
  min-width: 250px;
}
