<ng-container [ngSwitch]="getState()">
  <ng-container *ngSwitchCase="'lazy'">
    <span
      class="key"
      [ngClass]="{
      primary: node.isPrimary(),
    }"
    >{{node.getKey()}}</span>
    <span
      class="value lazy"
      (click)="eval()"
    >{{evaluationError ? evaluationError : '(...)'}}</span>
  </ng-container>

  <ng-container *ngSwitchCase="'leaf'">
    <span
      class="key"
      [ngClass]="{
      primary: node.isPrimary(),
    }"
    >{{node.getKey()}}</span>
    <span
      class="value"
      [ngClass]="getType()"
      [attr.data-prefix]="getDecorator().prefix"
      [attr.data-suffix]="getDecorator().suffix"
    >{{node.getValue()}}</span>
  </ng-container>

  <ng-container *ngSwitchCase="'tree'">
    <span (click)="expanded = !expanded">
      <span
        class="key expandable"
        [ngClass]="{
          primary: node.isPrimary(),
          expanded: expanded,
        }"
      >{{node.getKey()}}</span>
      <span
        class="value"
        [ngClass]="getType()"
        [attr.data-prefix]="getDecorator().prefix"
        [attr.data-suffix]="getDecorator().suffix"
      >{{node.getValue()}}</span>
    </span>
    <div
      *ngIf="expanded"
      class="properties"
    >
      <dr-properties-tree
        *ngFor="let child of children | async"
        [node]="child"
      ></dr-properties-tree>
    </div>
  </ng-container>
</ng-container>
