$arrow-short: 4px;
$arrow-long: 6px;

.key {
  &.primary {
    color: deeppink;
  }

  &:not(.primary) {
    color: pink;
  }

  &::after {
    display: inline;
    content: ': ';
  }

  &::before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    margin-right: (2 * $arrow-long);
  }

  &.expandable:not(.expanded)::before {
    border-top: $arrow-short solid transparent;
    border-bottom: $arrow-short solid transparent;
    border-left: $arrow-long solid black;
    margin-right: $arrow-long;
  }

  &.expandable.expanded::before {
    border-left: $arrow-short solid transparent;
    border-right: $arrow-short solid transparent;
    border-top: $arrow-long solid black;
    margin-right: $arrow-short;
  }
}

.expand {
  margin-left: 8px;
}
