.value {
  color: black;
  font-style: italic;

  &::before {
    display: inline;
    content: attr(data-prefix);
    color: green;
  }

  &::after {
    display: inline;
    content: attr(data-suffix);
  }
}
