.name {
  color: var(--code-color-foreground);
  font-style: italic;

  &::before {
    display: inline;
    content: 'f ';
    color: var(--code-color-addition);
  }

  &::after {
    display: inline;
    content: '()';
    color: var(--code-color-addition);
  }
}
