<ng-container
  *ngIf="stream === undefined; else diagram">
  <div>
    <button mat-raised-button (click)="refresh()">Refresh</button>
    <button mat-raised-button (click)="refresh(3)">Refresh & select #3</button>
  </div>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <button mat-raised-button (click)="setStream(node)">Analyze flow to stream #{{node.id}}</button>
      </li>
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <li>
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.location}}
        </div>
        <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>

  </mat-tree>
</ng-container>

<ng-template #diagram>
  <div class="inspector">
    <app-tree-viewer
      #diagram
      class="flow-diagram"
      [stream]="stream"
      [event]="event">
    </app-tree-viewer>
    <div
      class="controls">
      <div>
        PLAY PAUSE STOP
      </div>
      <app-events-log
        [events]="events"
        (eventHighlighted)="event = $event"
      ></app-events-log>
    </div>
  </div>
</ng-template>

<!--<app-timeline-->
<!--  [stream]="stream"-->
<!--  (eventHighlighted)="this.event = $event">-->
<!--</app-timeline>-->
