:host {
  display: grid;
  grid-template-columns: [start] min-content min-content auto [end];
  grid-template-rows: auto;
}

.markers {
  display: flex;
  justify-content: flex-end;
}

.marker {
  margin-right: 8px;
}

.number {
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  color: var(--foreground-color);
}

.content {
  white-space: pre;
  line-height: 16px;
}

.expandable {
  grid-column: start / end;
}



