:host {
  color: var(--code-color-foreground);
  background-color: var(--code-color-background);
  display: grid;
  grid-template-columns: [start] min-content min-content auto [end];
  grid-template-rows: auto;
}

.markers {
  display: flex;
  justify-content: flex-end;
}

.marker {
  margin-right: 8px;
}

.number {
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  color: var(--foreground-color);
}

.content {
  white-space: pre;
  line-height: 16px;
}

.expandable {
  grid-column: start / end;
  background-color: var(--color1);
  padding: 0 8px;
  margin-top: 8px;
  border-top: 1px solid var(--color5);

  .expandable + & {
    margin-top: 0;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--color5);
  }
}



