@import "styles/theme-dark";
@import "~primeicons/primeicons.css";
@import "~highlight.js/styles/darcula.css";

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-family);
}
