<dr-property
  [name]="name"
  [variant]="'primary'"
>
  <span [ngSwitch]="event.kind" class="event">
    <ng-container *ngSwitchCase="'next'">Next</ng-container>
    <ng-container *ngSwitchCase="'error'">Error</ng-container>
    <ng-container *ngSwitchCase="'complete'">Complete</ng-container>
    <ng-container *ngSwitchCase="'subscribe'">Subscribe</ng-container>
    <ng-container *ngSwitchCase="'unsubscribe'">Unsubscribe</ng-container>
    <ng-container *ngSwitchCase="'subject-next'">Subject next</ng-container>
    <ng-container *ngSwitchCase="'subject-error'">Subject error</ng-container>
    <ng-container *ngSwitchCase="'subject-complete'">Subject complete</ng-container>
    <ng-container *ngSwitchCase="'connect'">Connect</ng-container>
  </span>

  <ng-container *drPropertyExpandable>
      <dr-property-explorer
        *ngIf="event.value"
        [name]="'value'"
        [enumerable]="true"
        [reference]="event.value"
      ></dr-property-explorer>

      <dr-property-explorer
        *ngIf="event.error"
        [name]="'error'"
        [enumerable]="true"
        [reference]="event.error"
      ></dr-property-explorer>
  </ng-container>
</dr-property>
