<ng-container [ngSwitch]="reference.kind">
  <dr-property-explorer-lazy
    *ngSwitchCase="'lazy'"
    [name]="name"
    [reference]="reference"
    [enumerable]="enumerable"
  ></dr-property-explorer-lazy>
  <dr-property-explorer-value
    *ngSwitchCase="'value'"
    [name]="name"
    [reference]="reference"
    [enumerable]="enumerable"
  ></dr-property-explorer-value>
  <dr-property-explorer-object
    *ngSwitchCase="'object'"
    [name]="name"
    [reference]="reference"
    [enumerable]="enumerable"
  ></dr-property-explorer-object>
</ng-container>
