.null,
.undefined,
.boolean {
  color: var(--code-color-literal);
}


.number,
.bigint {
  color: var(--code-color-number);
}

.bigint::after {
  display: inline;
  content: 'n';
}

.string {
  color: var(--code-color-string);
}

.string::before,
.string::after {
  display: inline;
  content: '"';
}

.symbol {
  color: var(--code-color-symbol);
}
