<ng-container [ngSwitch]="reference.kind">
  <d-lazy-ref-explorer
    *ngSwitchCase="'lazy'"
    [name]="name"
    [reference]="reference"
    [enumerable]="enumerable"
  ></d-lazy-ref-explorer>
  <d-value-ref-explorer
    *ngSwitchCase="'value'"
    [name]="name"
    [reference]="reference"
    [enumerable]="enumerable"
  ></d-value-ref-explorer>
  <d-object-ref-explorer
    *ngSwitchCase="'object'"
    [name]="name"
    [reference]="reference"
    [enumerable]="enumerable"
  ></d-object-ref-explorer>
</ng-container>
