$arrow-short: 4px;
$arrow-long: 6px;

:host {
  display: block;
  font-family: monospace;
  font-size: 12px;
  margin-left: 8px;
  cursor: pointer;
}

:host ::ng-deep {
  .property-name.enumerable {
    color: deeppink;
  }

  .property-name:not(.enumerable) {
    color: pink;
  }

  .property-name::after {
    display: inline;
    content: ': ';
  }

  .property-name {
    &::before {
      display: inline-block;
      content: '';
      width: 0;
      height: 0;
      margin-right: (2 * $arrow-long);
    }

    &.expandable:not(.expanded)::before {
      border-top: $arrow-short solid transparent;
      border-bottom: $arrow-short solid transparent;
      border-left: $arrow-long solid black;
      margin-right: $arrow-long;
    }

    &.expandable.expanded::before {
      border-left: $arrow-short solid transparent;
      border-right: $arrow-short solid transparent;
      border-top: $arrow-long solid black;
      margin-right: $arrow-short;
    }
  }
}
