<dr-property
  *ngIf="evaluatedReference === undefined; else evaluated"
  [name]="name"
  [variant]="enumerable ? 'primary' : 'secondary'">

  <span *ngIf="evaluationError === undefined; else error" class="evaluate" (click)="evaluate()">(...)</span>
  <ng-template #error>
    <span class="error">{{evaluationError}}</span>
  </ng-template>
</dr-property>
<ng-template #evaluated>
  <dr-property-explorer
    [name]="name"
    [reference]="evaluatedReference"
    [enumerable]="enumerable"
  ></dr-property-explorer>
</ng-template>
